/* tabM, tabC */
.tabM{margin: 0 18px;}
.tabM a{width: 50%; display: block; float: left;
    padding: 20px 0; text-align: center; 
    color: #949494; font-size: 16px;}
.tabM a.act{font-weight: bold; color: #000; border-bottom: 2px solid #000; }

.tabC{clear: both; border-top: 1px solid #ededed;}
.tabC ul{min-width: 360px;}
.tabC ul li{border-bottom: 1px solid #ededed; padding: 24px;
    overflow: auto;}
.tabC span{display: block;}
.tabC .tit{font-size: 16px; margin-bottom: 14px;}
.tabC .date{font-size: 12px; color: #9a9a9a; }

/* gong, evt */
#gong{}
#gong p{padding: 20px; text-align: center;}
#gong ul{}
#gong ul li{}
#gong ul li a{}
#gong ul li a .con{
    float: left; 
    max-width: 558px; min-width: 270px;
}
#gong ul li a .con .tit{}
#gong ul li a .con .date{}

#gong ul li a .icon{
    float: right; width: 34px;
    margin-top: 15px;
}
#gong ul li a .icon span{
    width: 13px; height: 15px;
    text-indent: -9999em;
    background-position: -103px -20px;
}

#evt{display: none;}
#evt ul{}
#evt ul li{}
#evt ul li a{}

#evt ul li a .imgBox{float: left; padding-right: 29px;}
#evt ul li a .txtBox{float: left;}
#evt ul li a .txtBox .tit{
    padding: 20px 0;
    display: block;
}
#evt ul li a .txtBox .date{}
#evt p{padding: 20px; text-align: center;}

#evt ul li a .icon{
    float: right; width: 34px;
    margin-top: 15px;
}
#evt ul li a .icon span{
    width: 13px; height: 15px;
    text-indent: -9999em;
    background-position: -103px -20px;
}









